.input {
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px rgb(207, 206, 206) solid !important;
}

.input:hover {
    border: 1px black solid;
}

.fullInput {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.error {
    width: 100%;

    .pError {
        margin: 0;
        padding: 0;
        color: red;
        font-size: 12px !important;
        font-family: 'Roboto', sans-serif;
    }
}