.header {
    padding: 0 15px;
    background-color: rgb(246, 246, 246);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;

}

.headerCodeLap {
    padding: 10px 15px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title {
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #fff;

    }
}