.algorithmAndData {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr
}

.topic {
    border-right: 1px gray solid;
    padding: 20px;
}

.output {

    padding: 20px;
    background-color: rgb(243, 241, 241);
    border-radius: 10px;
}