.formLogin {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;

    .btnLogin {
        margin-top: 20px;
        background-color: #0061bb !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100% !important;
        color: #fff;
    }
}