.news {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.news::-webkit-scrollbar {
    display: none;
}

.listNews {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.boxNews {
    padding: 15px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    position: relative;

    &:hover {
        .menuTopic {
            display: block;
        }
    }

}


.timeNews {
    color: gray;
    font-size: 14px !important;
}

.headerDocument {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.buttonCreate {
    width: fit-content;
    background-color: rgb(26, 78, 141) !important;
    color: #fff !important;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.menuTopic {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.icon {
    margin-left: 10px;
    cursor: pointer;

    &:hover {
        color: red;
    }
}

.categorySmall {
    border-radius: 3px;
    padding-top: 10px;
    width: 120%;
    opacity: 0;
    overflow: hidden;
    margin-top: 30px;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    transition: 0.5s all;
    height: 0;

    p {
        margin: 0;
        color: black;
        padding: 10px;

        &:hover {
            background-color: #0061bb;
            color: #fff;
        }
    }

}