.banner {
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    background-image: url('../../public/7082675_23966.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.btnRegister {
    width: fit-content;

    &:hover {
        background-color: rgb(1, 84, 186) !important;
    }
}

p {
    font-size: 16px !important;
}