.boxDocument {
    position: relative;

    &:hover {
        .boxMenu {
            display: block;
        }

        .menuTopic {
            display: block;
        }
    }
}

.document {
    cursor: pointer;
    padding: 25px 15px 10px 15px;
    height: 230px;
    width: 100%;
    background-color: #fff;
    border: 1px gray solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleAlgorithm {
    border: none !important;
    outline: none !important;
    background-color: #fff !important;
    color: black !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    text-align: center;
    resize: none;

}

.menuTopic {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;

}

.icon:hover {
    color: red;
}

.icon {
    cursor: pointer;
}

.buttonCreate {
    width: fit-content;
    background-color: rgb(26, 78, 141) !important;
    color: #fff !important;
    font-size: 12px !important;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.boxMenu {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);

}

.document::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
}