.listDocx {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.buttonCreate {
    width: fit-content;
    background-color: rgb(26, 78, 141) !important;
    color: #fff !important;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.headerDocument {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}


.eDocument {
    height: 100vh;
    padding: 20px 50px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.eDocument::-webkit-scrollbar {
    display: none;
}

.inputCreate {
    width: 100%;
}

.titleInput {
    margin: 15px 0 10px 0;
}

.error {
    width: 100%;

    .pError {
        margin: 0;
        padding: 0;
        color: red;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
}

.previewImg {
    width: 150px;
}

.listDocx {
    margin-top: 40px;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}