.admin {
    height: 100vh;
    display: flex;
}

.active {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: rgb(26, 78, 141);
    border-left: 5px rgb(26, 78, 141) solid;
    background-color: rgb(248, 247, 247);
    padding: 10px;

}
.category {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    padding: 14px;
    &:hover {
        background-color: rgb(248, 247, 247);
    }
}