/* Thêm vào file CSS global */
.cdx-list__item {
    position: relative;
}

.cdx-list__item[data-indent="1"] {
    padding-left: 40px;
}

.cdx-list__item[data-indent="2"] {
    padding-left: 80px;
}

.cdx-list__item[data-indent="3"] {
    padding-left: 120px;
}

.cdx-list__item[data-indent="4"] {
    padding-left: 160px;
}

.cdx-list__item[data-indent="5"] {
    padding-left: 200px;
}