.information {
    padding-top: 15vh;
}

.banner {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .contentBanner {
        width: 100%;
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 8%;

        h3 {
            font-size: 45px;
            color: #fff;


        }

        div {
            font-size: 16px;
            color: #f0f0f0;
        }

    }

}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.2);
    top: 0;
    z-index: 2;
}

.time {
    font-size: 18px !important;
    margin: 0;
}

.btnNavigate {
    background-color: #0061bb !important;
    color: #fff !important;
}

.imgNews {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxNews {
    padding: 15px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 10px;
    position: relative;

    &:hover {
        .menuTopic {
            display: block;
        }
    }

}

.timeNews {
    color: gray;
    font-size: 14px !important;
}

@media (max-width:1024px) {
    .information {
        padding-top: 5vh;
    }

    .contentBanner {
        h3 {
            font-size: 28px !important;
        }
    }

    .title {
        font-size: 18px !important;
    }

    .boxNews {
        div {
            h5 {
                font-size: 16px !important;
            }
        }
    }
}

@media(max-width:540px) {
    .banner {

        .contentBanner {
            padding-left: 10px;
            left: 0%;

            h3 {
                font-size: 24px !important;
            }
        }
    }

    .contentInfo {
        display: flex !important;
        flex-direction: column;
    }

}