.imgBgr {

    background: url('https://fit.neu.edu.vn/scoreup/assets/Container%20136-BYP2JeFl.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.practice {
    padding: 20px 60px;
}

.contentBgrImg {
    padding: 80px;
}

h1 {
    font-size: 40px;
}

h5 {
    font-size: 16px;
}

.listPractice {
    margin-top: 20px;
    height: 58vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.listPractice::-webkit-scrollbar {
    display: none;
}

.btnTitle {
    padding: 5px;

    background-color: rgb(26, 78, 141);
    color: #fff;
    border: none;
    border-radius: 5px;

}

.boxTitle {
    height: fit-content;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(242, 247, 253);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    h3,
    p {
        color: rgb(26, 78, 141);

    }
}